body{
    margin: 30px;
    font-family: 'Nunito', sans-serif;       
}

table{
    border-collapse: collapse; 
    
}

th, td{
    border: 2px solid black; 
    padding: 10px;
    border: 2px solid #526157;    
}

.cntr{text-align: center;}

.colortxt{color: red;}

#color1{background: #d2ce5580;}
#color2{background: #ffd86385;}
#color3{background: #fffbce94;}

.tab{
    float: left;
    
}

.textblock{
    float: left;
    padding: 0 40px;
       
}