body{
    margin: 30px;
    font-family: 'Nunito', sans-serif;       
}

table{
    border-collapse: collapse; 
    
}

th, td{
    border: 2px solid black; 
    padding: 15px;    
}

.lft{text-align: center;}